body {
    font-family: "Inter", sans-serif;
    background-color: hsl(36, 100%, 99%);
    padding: 0 13%;
}

/* Navigation */

.nav-item {
    padding: 0 0.6rem;
}

.nav-link {
    color: hsl(236, 13%, 42%);
}

.nav-link:hover {
    color: hsl(5, 85%, 63%);
}

#navigation {
    padding: 4.5rem 0 3rem;
}